body * {
    text-align: justify;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.max-w-prose {
    max-width: 825px;
/*    max-width: 100%; /* if need for responsiveness*/
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}