body * {
    text-align: justify;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.max-w-prose {
    max-width: 825px;
/*    max-width: 100%; /* if need for responsiveness*/
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.video-full-bleed {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
}

.video-full-bleed video {
    width: 100%;
    height: auto;
    display: block;
}

.image-center {
    text-align: center;
}

.image-center img {
    display: inline-block;
    height: auto;
}

.row-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}