body * {
    text-align: justify;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.max-w-prose {
    max-width: 825px;
/*    max-width: 100%; /* if need for responsiveness*/
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.video-full-bleed {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
}

.video-full-bleed video {
    width: 100%;
    height: auto;
    display: block;
}

.image-center {
    text-align: center;
}

.image-center img {
    display: inline-block;
    height: auto;
}

.row-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pt-3 {
    gap: 15px;
}

.pulse-wrapper {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.pulse-circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 6px solid #0B0D1F;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(0.9); opacity: 0.7; }
  50% { transform: scale(1.2); opacity: 0.3; }
}

.ripple-circle {
  position: absolute;
  top: 12.5%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #0B0D1F;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 2s infinite;
  opacity: 0.7;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}