body * {
    text-align: justify;
    justify-content: center;
}

/* Kill all backdrop filters */
* {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.max-w-prose {
    max-width: 825px;
/*    max-width: 100%; /* if need for responsiveness*/
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.image-center {
    text-align: center;
}

.image-center img {
    display: inline-block;
    height: auto;
}

.row-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.highlight-wrapper,
.highlight-wrapper *,
.highlight,
.highlight * {
    text-align: left !important;
    justify-content: flex-start !important;
}
.pt-3 {
    gap: 15px;
}

/* Keep the gradient but make it static */
.single_hero_background > div {
  opacity: 0.8 !important;      /* fixed opacity */
  transition: none !important;   /* remove any animation/transition */
}